
    .background{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("https://images.unsplash.com/photo-1570610155223-66279ba81b41?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1491&q=80");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100%;
        opacity: 0.4;
        filter:alpha(opacity=40);
    }

.head{
    text-align: center;
    background-color: antiquewhite;
    text-align: center;
    padding: 50px;
    width: 500px;
    margin: 20px auto;
}